---
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<'projects'>['data'];
}

const { project } = Astro.props;
---

<a
	href={project.link}
	target="_blank"
	rel="noopener noreferrer"
	class="block group focus-ring"
>
	<div class="panel frosted frosted-light rounded-lg hover-lift h-full">
		{project.featured && (
			<div class="absolute top-0 right-0 z-10">
				<div class="w-12 h-12 bg-blue-300 dark:bg-blue-500 rotate-45 transform origin-bottom-right"></div>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-4 h-4 absolute top-1 right-1">
					<path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd"></path>
				</svg>
			</div>
		)}

		<div class="px-4 py-3 flex-grow">
			<h3 class="text-adaptive-strong  font-bold group-hover:text-blue-600 dark:group-hover:text-blue-400 transition-colors-standard">
				{project.name}
			</h3>
			<p class="body-text-small mt-1 mb-2 line-clamp-2">
				{project.description}
			</p>
		</div>


		{/* Arrow icon that shows only on hover */}
		<div class="absolute bottom-2 right-3 opacity-0 group-hover:opacity-100 transition-standard">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 text-blue-600 dark:text-blue-400">
				<path fill-rule="evenodd" d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z" clip-rule="evenodd"></path>
			</svg>
		</div>
	</div>
</a>