---
interface Props {
	href: string;
}
const { href } = Astro.props;
---


<a
	href={href}
	class="text-content hover:text-content-strong dark:text-content-muted dark:hover:text-content transition-colors duration-200"
>
	<slot />
</a>