---
interface Props {
	href: string;
	active?: boolean;
}
const { href, active = false } = Astro.props;
---

<a
	href={href}
	class:list={[
		'px-2 py-1',
		'link-muted',
		'font-medium',
		'transition-colors-standard',
		{ 'text-adaptive-strong font-semibold': active },
	]}
>
	<slot />
	{active && (
		<span class="block mt-0.5 h-0.5 gradient-primary rounded-full"></span>
	)}
</a>